<section class="sombras margin">
            
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Proyectos</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-8">

            <div class="row centrar">
                
                <div class="col-lg-5 col-12 sombras m-3">

                    <div>
                        <p class="centrar">
                            proyecto 1
                        </p>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <p class="centrar">
                            proyecto 2
                        </p>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <p class="centrar">
                            proyecto 3
                        </p>
                    </div>

                </div>

                <div class="col-lg-5 col-12 sombras m-3">
                    
                    <div>
                        <p class="centrar">
                            proyecto 4
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>