<section class="sombras margin">
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Educacion</h2>
    </div>

    <div class="row justify-content-center ">

        <div class="col-8 mw-100">

            <div class="row centrar ">
                <table class="table">

                    <thead>
                
                      <tr>
                
                        <th scope="col" class="color-rojo">Institucion</th>
                
                        <th scope="col" class="color-rojo">Nombre del Curso,Año y Duracion</th>

                        <th scope="col" class="color-rojo">Certificado</th>
                
                      </tr>
                
                    </thead>
                
                    <tbody>
                        
                        <tr>
                
                            <th scope="row">Instituto Zona Oeste,Rosario</th>
                    
                            <td>Secundario Economía y Administración,2016-2020(5 años)</td>

                            <td>
                                <a class="btn btn-link" href="https://drive.google.com/file/d/1HS8zPqBngh3qWQXBAMoU3Gh3JykRxLO6/view?usp=sharing" target="_blank"> Click aqui</a>
                            </td>
                    
                          </tr>

                      <tr>
                
                        <th scope="row">Esc. Superior Nº 49  "Cap. Gral. J.J. Urquiza",Rosario</th>
                
                        <td>Tecnicatura en Desarrolador de Software,2022-2024 estimado(3 años)</td>
                
                        <td>
                            <a class="btn" href="" target="_blank">Cursando 1er año</a>
                        </td>
                
                      </tr>
                
                      <tr>
                
                        <th scope="row">Argentina Programa</th>
                
                        <td>Sé Programar,2022(2 meses)</td>

                        <td>
                            <a class="btn btn-link" href="https://drive.google.com/file/d/1ISa9sKSi_ogZ_iDN6BdK8rzQYFf9rpCz/view?usp=sharing" target="_blank"> Click aqui</a>
                        </td>
                
                      </tr>

                      <tr>
                
                        <th scope="row">Argentina Programa</th>
                
                        <td>Yo Programo,2022(7 meses)</td>

                        <td>
                            <a class="btn" href="" target="_blank"> Cursando</a>
                        </td>
                
                      </tr>

                      <tr>
                
                        <th scope="row">Institución Salesiana Nuestra Señora Del Rosario</th>
                
                        <td>Introducción a la Programación,2021(2 meses)</td>
                
                        <td>
                            <a class="btn btn-link" href="https://drive.google.com/file/d/1j8oESsr4wAaSUldV6DHLb5EdPdkcrHny/view?usp=sharing" target="_blank"> Click aqui</a>
                        </td>
                
                      </tr>

                      <tr>
                
                        <th scope="row">U.T.N. - FRRO</th>
                
                        <td>Inglés nivel II,2021(1 año)</td>
                
                        <td>
                            <a class="btn btn-link" href="https://drive.google.com/file/d/1JhyXVHkHg1AkaNq038XmhI4WjgrT9Eq9/view?usp=sharing" target="_blank"> Click aqui</a>
                        </td>
                
                      </tr>
                
                    </tbody>
                
                  </table>
            </div>

        </div>

    </div>
</section>