<section class="sombras margin sobreMi">
    <div class="row justify-content-center">
        <h2 class="col-auto color-rojo">Sobre Mi</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-8">

            <div class="row">
                
                <div class="col-lg-6 col-12 justify-content-center">
                    <div class="justify-content-center">
                        <img class="col-12 img-thumnail tamaño-sobreMi" src="assets/imagenes/fotoCara.jpeg" alt="fotoCara">
                        <h3 class="col-12">Mauricio Arroyo</h3>
                        <h4 class="col-12">Full Stack Developer Jr</h4>
                        <ul>
                            <li>
                                <h5 class="col-12">Fecha de nacimiento:2003</h5>
                            </li>

                            <li>
                                <h5 class="col-12">Nacionalidad: Argentina</h5>
                            </li>

                            <li>
                                <h5 class="col-12">Ciudad: Rosario</h5>
                            </li>

                        </ul>
                    </div>

                </div>
                
                <p class="col-lg-6 col-12 centrar">
                    Mi nombre es Mauricio Arroyo, actualmente soy estudiante de una tecnicatura superior en desarrollo de software, y he realizado varios cursos de desarrollo web, los cuales se especificarán en la sección de educación. Estoy aplicando para Full Stack Developer Jr, me encantaría adquirir mis primeras experiencias laborales en el rubro, y desarrollarme en el mismo. </p>

            </div>

        </div>

    </div>
</section>