/* sobre Mi */

.tamaño-sobreMi{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:15rem ;
    width:15rem ;
}

@media (max-width: 500px) {
    .tamaño-sobreMi{
        height:10rem ;
        width:10rem ;
        padding-left: 2rem;
    }
}